<section class="thirteen columns">
    <h1>Internshps</h1>
    <article>
        <header>
            <h1>Internship</h1>
            <span><address>Bengaluru, India</address><time>2014</time></span>
        </header>
        <p>
            Linux Based System Administration with Virtualisation.
        </p>
    </article>
    <article>
        <header>
            <h1>In-House Training: Ducat Industrial Training</h1>
            <span><address>Greater  Noida, Uttar Pradesh</address><time>2014</time></span>
        </header>
        <p>
            Core Java with Android Development.
        </p>
    </article>
</section>