<div class="social">
	<h4>
    {% if site.github %}
	  <a href="http://github.com/niveditn"><i class="fa fa-github"></i></a>
    {% endif %}
    {% if site.email %}
	  <a href="mailto:hi@nivedit.in"><i class="fa fa-envelope"></i></a>
    {% endif %}

    {% if site.twitter %}
	  <a href="http://twitter.com/niknivedit"><i class="fa fa-twitter"></i></a>
    {% endif %}
    {% if site.linkedin %}
	  <a href="http://linkedin.com/in/neha-nivedita"><i class="fa fa-linkedin"></i></a>
    {% endif %}
    {% if site.stackoverflow %}
	  <a href="https://stackoverflow.com/users/5002305/ryder"><i class="fa fa-stack-overflow"></i></a>
    {% endif %}
	</h4>
</div>
